.button {
    color: $color-white;
    font-weight: 700;
    font-family: inherit;
    font-size: rem(10);
    line-height: 1.5;
    border: none;
    background-color: $color-black;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    padding: rem(5) rem(18);
    @include transition(all 0.800ms);
    position: relative;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        background-color: rgba($color-black, .85);
    }
    
    &.button-radius {
        border-radius: rem(6);
    }

    &.button-transparent {
        background: none;
    }
}